---
layout: default
title: Home
about: 'about.html'
---


<header class="main-header {% if site.cover %}" style="background-image: url({{ site.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a href="https://github.com/rndblog/rndblog.github.io"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}rss.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> Learn more </a> {% endif %}
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">


            {% if post.author_name %}
                <img class="author-thumb" src="{% if post.author_image %}{{ post.author_image}}{% else %}/assets/images/profile.png{% endif %}" alt="Author's profile picture" nopin="nopin" />
        	{% if post.author_url %}
        	    <a href="{{ post.author_url}}">{{ post.author_name }}</a>
        	{% else %}
            	    {{ post.author_name }}
            	{% endif%}    
            {% elsif site.author %}
                <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
                {{ site.author }}
            {% endif %}


            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'on ' }} 
            {% endif %}
            
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
                {% if post.update %}
	            {% capture temp_day_created %}{{ post.date | date:"%Y-%m-%d" }}{% endcapture %}
	            {% capture temp_day_updated %}{{ post.update | date:"%Y-%m-%d" }}{% endcapture %}
            	    {% if temp_day_created != temp_day_updated %}
            		{{ post.update | date_to_string | prepend: ', updated ' }}
            	    {% endif %}
                {% endif %}
            </time> 
        </footer>
    </article>

    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

    {% endfor %}

    {% include pagination.html %}

</main>

