#markdown-toc {
    font-size : 90%;
    line-height : 1.6em;
    font-family : Arial;
    padding-bottom : 3em;
    padding-top : 1em;
}

#markdown-toc li {
    list-style : none;
}

#markdown-toc a:link {
//    text-decoration : none;

#markdown-toc a:hover, a:active {
    text-decoration : underline;
}